<h1>Results</h1>

{{results.length}}
<table>
	<tr>
		<th>Event</th>
		<th>Round</th>
		<th>Heat</th>
		<th>Lap</th>
		<th>Lane</th>
		<th>Status</th>
		<th>Rank</th>
		<th>Time</th>
		<th>Result</th>
		<th>Mod</th>
		<th>Backup Time</th>
		<th>Backup Result</th>
		<th>Backup Mod</th>
	</tr>
	{{#each results}}
	  <tr>
			<td>{{{event_id}}}</td>
			<td>{{{round}}}</td>
			<td>{{{heat}}}</td>
			<td>{{{lap}}}</td>
			<td>{{{lane}}}</td>
			<td>{{{status}}}</td>
			<td>{{{rank}}}</td>
			<td>{{{time}}}</td>
			<td>{{{result}}}</td>
			<td>{{{mod}}}</td>
			<td>{{{backup_time}}}</td>
			<td>{{{backup_result}}}</td>
			<td>{{{backup_mod}}}</td>
		</tr>
	{{/each}}
</table>
